@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --light-primary-color: #e8d5c4;
    --light-secondary-color:#e8d5c4;
    --light-heading-color: #8a74ac;
    --dark-primary-color: #333a45;
    --dark-heading-color: #f44c7f;
    --dark-secondary-color: #cccecf;
  }

.carousel{
  clip-path: inset(0 0 70% 0);
}

.infoCard{
  opacity: 0;
  
}

.container:hover .infoCard{
  opacity: 1;
}